@import url('https://fonts.googleapis.com/css?family=Roboto%20Condensed');

#container{
    width: 80%;
    padding: 100px 0 100px 0;
    max-width: 500px;
    min-width: 300px;
}

input[type="text"] {
    width: 20vw;
    height: 60px;
    max-width: 500px;
    min-width: 250px;
}

input[type="submit"] {
    width: 20vw;
    height: 60px;
    max-width: 500px;
    min-width: 250px;
}

section{
    margin-top: 4%;
    width: 100vw;
    height: auto;
}

.radio-text{
    padding: 10%;
    font-family: "Roboto Condensed"; 
    font-size: 1.5rem;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
}